:root {
  --text-color: rgb(33, 37, 41);
  --header-bg-color: rgb(116, 114, 100);
  --main-bg-color: rgb(238, 237, 235);
  --cell-border-color: rgb(128, 128, 128);
  --guess-bg-color: rgb(33, 37, 41);
  --cell-bg-color: rgb(224, 204, 190);
  --clue-bg-color: rgb(210, 105, 30);
}
