html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: var(--text-color);
}

header {
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: var(--header-bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    padding: 10px;
    background-color: var(--main-bg-color);
}

#play-ground-wrapper {    
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 0;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    grid-template-columns: repeat(6, 2rem);
    grid-template-rows: repeat(6, 2rem);
    font-size: 2vw;
}

#play-ground-wrapper > .item {
    aspect-ratio: 1 / 1;
}

.item {
    background-color: var(--cell-bg-color);
    border: solid var(--cell-border-color) 1px;
}

.guess-item {
    background-color: var(--guess-bg-color);
}

.hidden-item {
    display: none;
}

[class^="clue-"] {
    display: flex;
    align-items: center;
    background-color: var(--clue-bg-color);
}

.item:is(.clue-left) {
    min-width: fit-content;
    justify-content: right;
    padding: 0 2px;
}

.item:is(.clue-top) {
    min-width: fit-content;
    justify-content: center;
    padding: 0 2px;
}

.item:is(.empty) {
    background-color: transparent;
    border: none;
}

.cell {
    cursor: pointer;
}

footer {
    display: flex;
    position: sticky;
    height: 5rem;
    height: 5vh;
    width: 100%;
    background-color: var(--header-bg-color);
}