html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: var(--text-color);
}

header {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: var(--header-bg-color);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    padding: 10px;
    background-color: var(--main-bg-color);
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 10rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0.5px solid var(--guess-bg-color);
    border-radius: 1rem;
}

.hidden {
    display: none;
}

button:hover:not(#timer) {
    background-color: lightgray;
}

#timer {
    cursor: unset;
}

#top-controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#bottom-controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#play-ground-wrapper {    
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 0;
    width: 35rem;
    height: min-content;
    padding: 3rem;
    grid-template-columns: 3fr repeat(5, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    font-size: 2rem;
}

#play-ground-wrapper .cell {
    aspect-ratio: 1 / 1;
}

.item {
    height: 100%;
    background-color: var(--cell-bg-color);
    border: solid var(--cell-border-color) 1px;
}

.guess-item {
    background-color: var(--guess-bg-color);
}

.hidden-item {
    display: none;
}

[class^="clue-"] {
    background-color: var(--clue-bg-color);
}

.item:is(.clue-top) {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.item:is(.empty) {
    background-color: transparent;
    border: none;
}

.cell {
    cursor: pointer;
}

.svg-btn-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--text-color);
}

footer {
    display: flex;
    position: sticky;
    height: 5rem;
    height: 40px;
    width: 100%;
    background-color: var(--header-bg-color);
}