@font-face {
  font-family: 'Forum';
  src: url('../fonts/Forum-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Forum Bold';
  src: url('../fonts/Forum-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kill-Switch';
  src: url('../fonts/Kill-Switch.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --header-back-color: rgb(255, 64, 125);
  --header-button-color: rgb(64, 103, 158);
  --modal-bg-color: rgb(232, 117, 26);
  --modal-button-color: rgb(253, 164, 3);
  --modal-button-color-disabled: rgba(253, 164, 3, 0.6);
  --input-background-color: lightgray;
  --disabled-txt-color: gray;
  --input-txt-color: black;
  --txt-hightlighted: white;  
  --warning-color: lightpink;
  --header-color: rgb(249, 240, 122);
  --transition-time: 0.3s;
  --tooltip-background-color: black;
}

html {
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-image: url(../assets/img/background4.jpeg);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter';

  user-select: none;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0.5rem 5rem;
  background-color: var(--header-back-color);
}

header button {
  width: auto;
  height: auto;
  padding: 0.3rem 1rem;
  display: flex;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: var(--header-button-color);
  color: var(--input-background-color);
  cursor: pointer;
  transition: var(--transition-time);
}

header button:hover {
  color: var(--txt-hightlighted);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  padding-top: 5rem;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  background-color: var(--modal-bg-color);
}

.hidden-modal {
  display: none;
}

.modal #header {
  width: 100%;
  height: auto;
  color: var(--header-color);
  padding-bottom: 1rem;
  font-family: 'Kill-Switch';
  font-size: 4.5rem;
  text-align: center;
}

.modal button {
  /* display: none; */  
  width: 10rem;
  height: auto;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--input-txt-color);
  background-color: var(--modal-button-color);
  border-radius: 1rem;
  border: 0px solid transparent;
  cursor: pointer;
  transition: var(--transition-time);
}

.modal button:hover:not(:disabled) {
  font-weight: bold;
}

.modal button:disabled {
  color: var(--disabled-txt-color);
  background-color: var(--modal-button-color-disabled);
  cursor: default;
}

#logout-wrapper {
  padding: 3rem;
}

#logout-txt {
  font-size: 1.7rem;
  text-align: center;
  width: 30rem;
  height: auto;
  padding: 0 1rem;
}

#logout-btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 2rem;
}

.input-wrap {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.input-wrap label {
  align-self: flex-start;
  padding-left: 0.8rem;
  font-size: 1.7rem;
  font-family: 'Inter';
}

.input-wrap:nth-child(3) {
  padding-bottom: 2rem;
}

.user-input {
  width: 30rem;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: var(--input-txt-color);
  background-color: var(--input-background-color);
  border: 5px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
}

.user-input:focus {
  color: var(--input-txt-color);
  outline: none;
}

#start-screen-wrapper {
  width: 60vw;
  height: auto;
  gap: 0;
}

h1 {
  margin: 0;
  padding-bottom: 0;  
  font-size: 3rem;
}

#start-screen-wrapper {
  width: 40vw;
}

#start-screen-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1rem;
}

.start-img {
  width: 30rem;
  height: 15rem;
  border-radius: 2rem;
  background-image: url(../assets/img/candy_girl.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#start-screen-txt {
  width: 100%;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--header-color);
}

#start-screen-wrapper button {
  width: 15rem;
}

#greeting-wrapper {
  padding: 2rem 3rem;
  padding-bottom: 1.5rem;
  width: 30vw;
  height: auto;
}

#greeting-txt {
  width: 100%;
  height: auto;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--header-color);
}

#greeting-close {
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: var(--transition-time);
}

.greeting-close-svg {
  fill: var(--header-color);
}

#greeting-close:hover {
  transform: scale(120%);
}


.tooltip {
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: visible;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--tooltip-background-color);
  transform: translateY(120%);
  z-index: 1;
}

.tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-background-color) transparent;
}

@media (max-width: 1500px) {
  #login-wrapper {
    width: 50vw;
    padding: 1.5rem 3rem;
    gap: 1.5rem;
    padding-top: 1rem;
  }
      
  #start-screen-main-wrapper {    
    flex-direction: column;
  }

  #start-screen-wrapper {
    padding: 2rem 3rem;
    width: 40vw;
  }
    
  .start-img {
    width: 20vw;
    height: 20vw;
    order: 2;
    background-size: cover;
    margin-bottom: 3rem;
  }

}

@media (max-width: 1200px) {
  #login-wrapper {
    width: 70vw;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
    padding-top: 1rem;
  }

  .user-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  html {
    background-size: 150vh;
  }
  
  #start-screen-wrapper {
    width: 60vw;
  }

  .start-img {
    width: 30vw;
    height: 30vw;
  }
  
}


@media (max-width: 730px) {
  .start-img {
    width: 40vw;
    height: 40vw;
  }
}