

#menu-offer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#menu-offer .heading {
    width: 800px;
    height: auto;
    text-align: center;
}

#menu-offer-btn-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#menu-offer-btn-wrapper button {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light);
    background-color: transparent;
}

#menu-offer-btn-wrapper button:first-child {
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    background: var(--background-container);
    border: none;
}

#menu-offer-btn-wrapper button div {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light);
    background-position: center;
    background-repeat: no-repeat;
}

#menu-offer-btn-wrapper button:first-child div {
    background: var(--background-body);
    background-image: url(./assets/svg/coffee-item.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#menu-offer-btn-wrapper button:nth-child(2) div {
    background-image: url(./assets/svg/tea-item.svg);
}

#menu-offer-btn-wrapper button:last-child div {
    background-image: url(./assets/svg/dessert-item.svg);
}

#coffee-menu {
    display: grid;
}

.menu-item {
    display: flex;
    height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--border-light);
}