#content-wrapper, main {
    gap: 0;
}

#power-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(64, 63, 61, 0.80);
    z-index: 2;
}

.hidden-modal {
    display: none;
}

#modal {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50vw;
    width: 800px;
    height: auto;
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    font-family: Inter;
    font-style: normal;
    color: var(--text-dark);
    border-radius: 40px;
    background: var(--background-body);
    z-index: 3;
    transform: translate(-50%, -50%);
}

#modal-img {
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 40px;
    background-image: url(./assets/pics/menu/coffee-1.jpg);
}

#modal-wrapper {
    width: 438px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.modal-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.menu-modal-btn {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    border-radius: 100px;
    border: 1px solid var(--border-light);
    cursor: pointer;
    transition: 0.7s;
}

.menu-modal-btn div {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light);
    background: var(--border-light);
}

.selected-btn {
    color: var(--text-light);
    background: var(--background-container);
    border: none;
}

.selected-btn div {
    color: var(--text-dark);
    background: var(--background-body);    
}


#modal-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

#modal-alert {
    display: flex;
    flex: 1 0 0;
    padding: 12px 0px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    align-self: stretch;
    border-top: 1px solid var(--border-light, #C1B6AD);
    font-size: 10px;
    font-weight: 600;
    line-height: 140%; /* 14px */
}

#alert-ico {
    min-width: 16px;
    min-height: 16px;
    background-image: url(./assets/svg/info-empty.svg);
    background-position: center;
}

#close-btn {
    display: flex;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%; /* 24px */
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    cursor: pointer;
    transition: 0.7s;
}


#head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

#header-menu-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 72px;
    height: 24px;
    margin-bottom: 4px;
}

#header-menu-menu::after {
    content: '';
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 68px;
    height: 0;
    border: 1px solid var(--text-dark);
}

#header-menu-menu #coffee-cup-svg {
    width: 20px;
    height: 20px;
    align-self: top;
    background-image: url(./assets/svg/header/coffee-cup.svg);
}

#menu-offer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#menu-offer .heading {
    width: 800px;
    height: auto;
    text-align: center;
    letter-spacing: 0.3px;
    margin-left: -3px;
}

#menu-offer .heading::first-line {
    margin-left: 0;
}

.menu-offer-btn-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.menu-offer-btn-wrapper div {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light);
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.menu-offer-btn-wrapper > .selected-btn {
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    background: var(--background-container);
    border: none;    
}

.menu-offer-btn-wrapper > .selected-btn div {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--background-body);
    background-position: center;
    background-repeat: no-repeat;
}


.menu-offer-btn-wrapper > div div {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.menu-offer-btn-wrapper > div:first-child div {
    background-image: url(./assets/svg/menu/coffee-item.svg);
}

.menu-offer-btn-wrapper > div:nth-child(2) div {
    background-image: url(./assets/svg/menu/tea-item.svg);
}

.menu-offer-btn-wrapper > div:last-child div {
    background-image: url(./assets/svg/menu/dessert-item.svg);
}

#product-menu {
    width: 100%;
    /* padding: 0 10px; */
    gap: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 100px;
    justify-items: center;
}

.menu-item {
    display: flex;
    /* width: 100%; */
    width: 309px;
    height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--border-light);
    cursor: pointer;
}

.menu-item-img {
    width: 309px;
    height: 310px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: lightgray;
    background-size: 340px 340px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}

.menu-item-descr {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 0 0;
    align-self: stretch;
    gap: 12px;
}

.menu-item-descr p {
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-style: normal;

}

.menu-item-descr p:not(p:nth-child(2)) {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.menu-item-descr p:nth-child(2) {
    height: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

#refresh-btn {
    display: none;
    width: 60px;
    height: 60px;
    margin-bottom: 100px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    background-image: url(./assets/svg/menu/refresh.svg);
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width: 1400px) {
        
    #product-menu {
        grid-template-columns: 1fr 1fr 1fr;
        /* padding-bottom: 40px; */
    }
}

@media (max-width: 1080px) {        
    #product-menu {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 40px;
    }
}

@media (max-width: 900px) {
        
    #modal {
        max-width: 800px;
        width: 90vw;
        left: 50%;
    }
        
    #menu-offer .heading {
        width: 100%;
    }

}

@media (max-width: 768px) {
    
    #header-menu-menu {
        position: relative;
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--border-dark);
        cursor: pointer;
    }
          
    #header-menu-menu p,
    #coffee-cup-svg,
    #header-menu-menu::after {
        display: none;
    }
   
    [id^="burger-btn-bar-"] {
        position: absolute;
        display: block;
        width: 16px;
        height: 1.5px;
        background-color: var(--text-dark);
    }

    #burger-btn-bar-one {
        transform: translateY(-4px);
    }
    
    .engaged #burger-btn-bar-one {
        transform: translateY(0) rotate(-45deg);
    }

    #burger-btn-bar-two {
        transform: translateY(4px);
    }
    
    .engaged #burger-btn-bar-two {
        transform: translateY(0) rotate(45deg);
    }

    #product-menu {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }

        
    #refresh-btn {
        display: flex;
        cursor: pointer;
    }

}


@media (max-width: 670px) {

    #modal-wrapper {
        flex-shrink: 1;
    }
    
    #modal-img {
        display: none;
    }

}

@media (max-width: 380px) {


    #product-menu {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }



    .menu-offer-btn-wrapper {
        gap: 8px;
    }

    #menu-offer span {
        padding-left: 6px;
    }
        
    #product-menu {
        padding: 0 19px;
        padding-bottom: 40px;
    }

}

@media (hover:hover) and (pointer:fine) {
    .menu-item:hover .menu-item-img {
        background-size: 310px 310px;
    }
    
    .menu-modal-btn:not(.selected-btn):hover {
        color: var(--text-light);
        background: var(--background-container);
        border: none;
    }

    .menu-modal-btn:not(.selected-btn):hover div{
        color: var(--text-dark);
        background: var(--background-body);  
    }
    
    #close-btn:hover {
        color: var(--text-light);
        background: var(--background-container);
    }
    
    .menu-offer-btn-wrapper > div:hover {
        color: var(--text-light);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        background: var(--background-container);
        border: none;
    }

    .menu-offer-btn-wrapper > div:hover div {
        width: 30px;
        height: 30px;
        display: flex;
        padding: 3px 7px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: var(--background-body);
        background-position: center;
        background-repeat: no-repeat;
    }
}